### Desafío 3 - IA TESICamp

### Notebook guía
Este Jupyter Notebook te dará instrucciones para crear una solución al Desafío 3 de IA en el TESIChallenge.

### Exploración de datos
El primer paso paso desarollar una solución es elegir las herramientas, hay muchas bibliotecas de Python que se pueden utilizar para el procesamiento y la visualización de datos. En este caso usaremos Pandas, Seaborn y Matplotlib.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Una vez que cargamos nuestras bibliotecas podemo pasar a cargar los datos para esto utilizaremos la función "read_csv" de pandas.

In [2]:
datos = pd.read_csv('datos/coordenadas.csv')

Podemos usar los métodos .info () y .describe () para obtener información básica sobre la cantidad actual de datos, sus tipos y valores.

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Colonia   59 non-null     object
 1   Latitud   59 non-null     float64
 2   Longitud  59 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.5+ KB

In [4]:
datos.describe()

         Latitud   Longitud
count  59.000000  59.000000
mean   19.321513 -98.903979
std     0.015905   0.031894
min    19.292192 -98.947491
25%    19.311583 -98.930774
50%    19.320700 -98.910398
75%    19.327543 -98.885666
max    19.383466 -98.818836

## Procesamiento de datos
Ahora tienes los datos para poder iniciar la búsqueda de la ruta más corta, para esto enlista las colonias colocando en la primera posición la colonia que visitaras primero y después la segunda y así sucesivamente.  
Donde la distancia d está dada por:

![](imagenes/formula.png)

r = radio de la tierra 6,371.0

$\lambda_1$ = longitud 1

$\lambda_2$ = longitud 2

$\phi_1$ = latitud 1

$\phi_2$ = latitud 2

Otra opción es usar la función *distance* de la biblioteca *geopy* que nos ayuda a calcular la distancia entre dos colonias.

In [5]:
#Instalamos la biblioteca si es necesario
!pip install geopy

Requirement already satisfied: geopy in c:\users\cesar\appdata\local\programs\python\python39\lib\site-packages (2.2.0)

WARNING: You are using pip version 21.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\cesar\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\cesar\appdata\local\programs\python\python39\lib\site-packages (from geopy) (1.52)

In [6]:
from geopy import distance

colonia1 = (datos['Latitud'][0], datos['Longitud'][0])
colonia2 = (datos['Latitud'][1], datos['Longitud'][1])
distancia = distance.distance(colonia1,colonia2).km
print("La distancia entre la colonia 1 y la colonia 2 es: " + str(distancia))

La distancia entre la colonia 1 y la colonia 2 es: 1.8117472016362757

In [10]:
## Algoritmo para buscar la ruta mas corta sumando las distancias.
colonias = datos["Colonia"][1:] # El Primer y ultimo lugar simpre será el TESI
colonias = colonias.sort_values()
resultados=colonias

Realiza un dataframe con tu respuesta, recuerda respetar el nombré y formato de las columnas.

In [11]:
resultados = pd.DataFrame(columns=["Colonia", "Autobus"])

#lista del primer autobus
resultados = resultados.append({"Colonia": 'TESI', "Autobus":1}, ignore_index=True)
for iCol in colonias[:30]:
    resultados = resultados.append({"Colonia": iCol, "Autobus":1}, ignore_index=True)
resultados = resultados.append({"Colonia": 'TESI', "Autobus":1}, ignore_index=True)

#lista del segundo autobus
resultados = resultados.append({"Colonia": 'TESI', "Autobus":2}, ignore_index=True)
for iCol in colonias[30:]:
    resultados = resultados.append({"Colonia": iCol, "Autobus":2}, ignore_index=True)
resultados = resultados.append({"Colonia": 'TESI', "Autobus":2}, ignore_index=True)
resultados

                       Colonia Autobus
0                         TESI       1
1              20 de noviembre       1
2             Alfredo del Mazo       1
3   Ampliación Emiliano Zapata       1
4       Ampliación Loma Bonita       1
..                         ...     ...
57                  Tlayehuale       2
58                 Valle Verde       2
59         Vergel de Guadalupe       2
60                   Zoquiapan       2
61                        TESI       2

[62 rows x 2 columns]

## Resultado
Una vez que tengas el orden de las colonias guárdalo en un archivo .csv para que pueda entregar tu resultado.

In [12]:
resultados.to_csv("datos/resultados.csv", index=False)

Esta archivo "resultados.csv" es el que tienes que enviar.

# ¡Felicitaciones has terminado el reto!